<header class="site-header">
    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      {%- assign path = page.url | split: '/' -%}
      {%- assign version = path[2] | default: 'next' -%}
      {%- assign versions = site.pages | sort: 'version' | map: 'version' | uniq -%}
      {%- assign latestCount = site.pages | where: 'version': 'latest' | size -%}
      {%- assign requirementsCount = site.pages | where: 'version': version | where: 'category': 'requirements' | size -%}
      {%- assign specCount = site.pages | where: 'version': version | where: 'category': 'requirements' | where: 'type', 'specification' | size -%}
      {%- assign adrCount = site.pages | where: 'version': version | where: 'category': 'requirements' | where: 'type', 'adr' | size -%}

      {%- assign sdks = 'ripple' | split: ',' -%}

      <style>
        .site-title img {
            height: 1.5em;
            padding-right: 0.25em;
            position: relative;
            top: -0.15em;            
        }
      </style>

      <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="{{ site.baseurl }}/images/firebolt-logo-small.png"">&nbsp;{{ site.title | escape }}</a>
        <nav class="site-nav">
          <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger">
            <span class="menu-icon">
              <svg viewBox="0 0 18 15" width="18px" height="15px">
                <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
              </svg>
            </span>
          </label>
  
          <div class="trigger">

            <ul>
                <li>
                    <b>Version: <select onchange="document.location.href = '{{site.baseurl}}/apis/' + this.value ">
                        {%- for v in versions -%}
                        {%- if v -%}
                        {%- if v == version -%}
                        <option selected value="{{v}}">{{v}}</option>
                        {%- else -%}
                        {%- if v contains 'pr' -%}
                        {%- else -%}
                        <option value="{{v}}">{{v}}</option>
                        {%- endif -%}
                        {%- endif -%}
                        {%- endif -%}
                        {%- endfor -%}
                    </select></b>
                </li>                
                {%- assign pages = site.pages | sort: 'url' -%}
                {%- for my_page in pages -%}
                <!-- SDK: {{ my_page.sdk }} -->
                
                <!-- Title: {{ my_page.title }} -->
                
                <!-- URL: {{ my_page.url }} -->
                
                {%- if my_page.sdk -%}
                {%- else -%}
                    {%- if my_page.title -%}
                    {%- assign page_path = my_page.url | split: '/' -%}
                    {%- assign depth = page_path | size -%}
                    <!-- Depth: {{ depth }} -->
                
                    {%- if depth == 2 -%}
                        {%- if page_path[1] == 'apis' -%}
                  <li><b><a class="page-link" href="{{ my_page.url | relative_url }}/{{version}}">{{ my_page.title | escape }}</a></b>
                    {%- if path[1] == 'apis' -%}
                    <ul>
                        {%- for sdk in sdks -%}
                        {%- assign pages = site.pages | where: 'version', version | where: 'sdk': sdk | sort: 'url' -%}
        
                        <li><b><a class="page-link" href="{{ pages.first.url | relative_url }}">{{ pages.first.title | escape }}</a></b>
                            <ul>
                                        {%- for my_page in pages -%}
                                        {%- if my_page.url == pages.first.url -%}
                                        {%- else -%}
                                            {%- if my_page.title -%}
                                                {%- if my_page.url contains '/schemas/' -%}
                                                {%- else -%}
                                        <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endif -%}
                                      {%- endfor -%}
                            </ul>
                        </li>
                        {%- endfor -%}
                        <li><b>Shared Schemas</b>
                            <ul>
                                {%- assign pages = site.pages | where: 'version', version | uniq: 'title' | sort: 'url' -%}
                                {%- for my_page in pages -%}
                                {%- if my_page.title -%}
                                {%- if my_page.url contains '/schemas/' -%}
                                <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                                {%- endif -%}
                                {%- endif -%}
                                {%- endfor -%}                            
                            </ul>
                        </li>
                    </ul>
                    {%- endif -%}
                  </li>
                        {%- endif -%}
                    {%- endif -%}
                    </li>
                    {%- endif -%}
                {%- endif -%}
              {%- endfor -%}

              {%- if requirementsCount > 0 -%}
                    <li><b>Firebolt Requirements</b>
                      <ul>
                        {%- assign pages = site.pages | where: 'version', version | where: 'category', 'requirements' | where_exp: 'page', 'page.type == nil' | sort: 'title' -%}
                        {%- for my_page in pages -%}    
                        <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                        {%- endfor -%}                            

                        {%- if specCount > 0 -%}
                          <li><b>Specifications</b>
                            {%- assign pages = site.pages | where: 'version', version | where: 'category', 'requirements' | where: 'type', 'specification' | sort: 'title' -%}
                            {%- assign dir = '/requirements/' | append: version | append: '/specifications/' -%}
                            {%- include tree.html pages=pages dir=dir -%}
                          </li>
                        {%- endif -%}
                        {%- if ardCount > 0 -%}
                          <li><b>ADRs</b>
                            <ul>
                              {%- assign pages = site.pages | where: 'version', version | where: 'category', 'requirements' | where: 'type', 'adr' | sort: 'dir' -%}
                              {%- for my_page in pages -%}    
                              <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                              {%- endfor -%}                            
                            </ul>
                          </li>
                        {%- endif -%}

                      </ul>
                    </li>
              {%- endif -%}


            </ul>
          </div>
        </nav>
    </div>
    {%- if version == 'latest' -%}
    {%- else -%}
        {%- assign versionparts = version | split: '.' | size -%}
        {%- if versionparts == 3 -%}
        {%- else -%}
        <div class="beta"><span><h1>!</h1>Prerelease: ({{ version }})<br/>Please see <a href="{{site.baseurl}}/apis/">Latest</a></span></div>
        {%- endif -%}
    {%- endif -%}
  </header>
  
  
